@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Elsie&family=Fjalla+One&family=Source+Serif+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap');
html {
    scroll-behavior: smooth;
     font-family: "Noto Serif SC", sans-serif;
}

title{
    font-family: "Noto Serif SC", sans-serif;
}

body{
    margin: 0px auto 0px auto;
    max-width: 1150px;  
    min-width: 1140px;
     font-family: "Noto Serif SC", sans-serif;
}

.Section-1{  
    position: relative;
    height: 524px;
    width: 100%;
    margin: 0;
    padding: 0%;
    background-image: linear-gradient(81deg, #e27f7a, #d59095, #c3a0b1, #acafce);
}

/*Navigation Bar*/
.Nav-Bar{
    background-image: linear-gradient(81deg, #e27f7a, #d59095, #c3a0b1, #acafce);
    padding-bottom: 22px;
}

.logo{
    position: absolute;
    margin-left: 5%;
}
  
.topnav-right{
    float:right;
    margin-top: 2.5%;
    margin-right: 2%;
}
  
a.topnav-left {
    position: absolute;
    left: 12.5%;
    top: 6%;
    font-family: "Noto Serif SC", sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: rgb(112, 24, 4);
}
  
.Navigation-Bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
.Navigation-Bar li {
    float: left;
}
    
.Navigation-Bar li a {
    display: block;
    font-family: "Noto Serif SC", sans-serif;
    text-align: center;
    color: rgb(112, 24, 4);
    padding: 9px 16px;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}
  
.Navigation-Bar li:hover{
    background-color:  rgb(112, 24, 4);
    border-radius: 5px;
}
  
.Navigation-Bar li:hover a{
    color: rgb(255, 251, 233);
}

.Content{
    position: relative;
    display: inline-block;
    height: 400px;
    width: 100%;
}

.Content-text{
    position: absolute;
    top: 55%;
    left: 24%;
    transform: translate(-28%, -50%);
}

.Content-text h1{
    font-family: "Noto Serif SC", sans-serif;
    color: rgb(255, 166, 0);
    font-size: 85px;
    font-weight: lighter;
    margin-top: 1%;
    margin-bottom: 0%;
}

.Content-text a{
    text-decoration: none;
    font-family: "Noto Serif SC", sans-serif;
    font-weight: lighter;
    font-size: 18px;
    color:rgb(253, 253, 253);
    float: left;
}

.Content-text p{
    font-family: "Noto Serif SC", sans-serif;
    font-weight: lighter;
    font-size: 18px;
    color:rgb(253, 253, 253);
    margin-top: 0px;
}

.image-overlay{
    background: url('/static/tuxpi.com.1681837124.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 380px;
    position: relative;
}

.image{
    position: absolute;
    width: 100%;
    background: rgb(0,0,0,0.4);
    height: 369px;
  }




.Section-2{
    display: inline-block;
    position: relative;
    background: -webkit-linear-gradient(to right, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #061161, #780206);
    background-size: 100% 110%;
    height:750px;
    width: 100%;
}

.Section-21 {
  height: 100%;
  width: 60%;
  float: left;
  box-sizing: border-box;
  border: 1px solid black; /* 可选：添加边框以便查看分割效果 */
  display: flex;
  flex-direction: column;
}

.top-div {
  flex: 8;
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  height: 300px; /* 设置div的高度 */
}

.top-div img {
  width: 100%; /* 图片宽度充满整个top-div容器 */
  max-height: 100%; /* 图片最大高度为父元素高度 */
  display: block; /* 去除图片默认的行内元素间距 */
  margin: auto; /* 水平垂直居中 */
    margin-top: 20px;
  object-fit: contain; /* 确保图片不会变形，同时填充整个区域 */
}

.bottom-div {
  flex: 2;
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center;
  padding: 10px;

}

button {
  border: 0;
  margin: 20px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 50px;
  border-radius: 50px;
  color: white;
  outline: none;
  position: relative;
}

button:before{
  content: '';
  display: block;
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.4) 50%);
  background-size: 210% 100%;
  background-position: right bottom;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom:0;
  right:0;
  left: 0;
  border-radius: 50px;
  transition: all 1s;
  -webkit-transition: all 1s;
}
.start-button{
    background-image: linear-gradient(to right, #25aae1, #40e495);
   box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.start-button:hover:before {
  background-position: left bottom;
}
.stop-button{
    background-image: linear-gradient(to right, #6253e1, #852D91);
   box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.stop-button:hover:before {
  background-position: left bottom;
}
.Section-22 {
  height: 100%;
  width: 40%;
  float: left;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.Section-22 .data1,
.Section-22 .data2,
.Section-22 .data3 {
  flex: 1;
  position: relative;
}

.Section-22 .data1 .DataTitle1,
.Section-22 .data2 .DataTitle2,
.Section-22 .data3 .DataTitle3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* 确保标题框与dataX同宽 */
  height: 30px; /* 标题框高度 */
  background: #654ea3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex; /* 使用flex布局 */
  align-items: center; /* 垂直居中 */
  justify-content: center; /* 水平居中 */
  text-align: center; /* 居中标题文本 */
  box-sizing: border-box;
  padding: 5px; /* 可根据需要调整标题框的内边距 */
}

/* 可根据需要对标题文本进行样式设置 */
.Section-22 .data1 .DataTitle1 h1,
.Section-22 .data2 .DataTitle2 h1,
.Section-22 .data3 .DataTitle3 h1 {
  margin: 0;
  color: #061161;
}

.Section-22 .DataImage1,
.Section-22 .DataImage2,
.Section-22 .DataImage3 {
  width: 100%;
    display: flex;
justify-content: center;
align-items:center ;
  height: calc(100% - 30px); /* 图片高度为标题框高度之外的剩余高度 */
    margin-top: 30px;
}

.LiveTitle h1{
    font-family: "Noto Serif SC", sans-serif;
    color:   rgb(112, 24, 4);
    font-size: 35px;
    position: absolute;
    margin-left: 35.2%; 
}
  
.LiveTitle img{
    transform: rotate(70deg);
    position: absolute;
    margin-left: 26.5%;
    margin-top: 0.6%;
}

.LiveForm{
    position: absolute;
    margin-top: 11%;
    width: 1145px;
}

input[type=submit]{
    font-family:"Noto Serif SC", sans-serif;
    font-size: 20px;
    font-weight: bolder;
    background-color: rgb(112, 24, 4);
    color: rgb(255, 251, 233);
    padding: 10px 30px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50px;
    border: solid 3px rgb(112, 24, 4);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
    margin-left: 20px;
}

input[type=submit]:hover{
    border: solid 3px rgb(151, 190, 50);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
    background-color: rgb(151, 190, 50);
}


.videofeed{
    position: absolute;
    margin-top: 18%;  
    margin-left: 10%; 
}

.videofeed p{
    position: absolute;
    font-family: "Noto Serif SC", sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(112, 24, 4);
    width: 300px;
    margin-left: 360px;
    margin-top: 250px;
}

.videofeed img{
    border-radius: 2px;
    border: solid 3px rgb(112, 24, 4);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
    z-index: 9;
    position: absolute;
}


.Section-3.result {
    text-align: center; /* 让h1水平居中 */

}

/* 其他样式保持不变 */
.Section-3 {
    display: inline-block;
    position: relative;
    background-image: linear-gradient(81deg, #e27f7a, #d59095, #c3a0b1, #acafce);
    height: 200px;
    width: 100%;
    margin-top: -5px;
}

.container {
    width: 100%;
    background-color: #ddd;
}

.skills {
    text-align: right;
    padding-right: 20px;
    line-height: 40px;
    color: white;
}

.html {
    width: 90%;
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.guidelines{
    position: absolute;
    margin-top: 7.5%;
    margin-left: 6%;
}

.guidelines li{
    font-family: "Noto Serif SC", sans-serif;
    font-size: 26px; 
    font-style: oblique;
}

/*Section 4 Footer*/
.Section-4{
    display: inline-block;
    position: relative;
    background-color: rgb(112, 24, 4);
    height: 320px;
    width: 100%;
    margin-top: -5px;
  }
  
  .Section-4 img{
    position: absolute;
    margin-top: 1%;
  }
  
  .overlay{
    background: rgba(0, 0, 0, 0.3);
    height: 320px; 
  }
  
  .Column{
    height: 60%;
    width: 35%;
    margin-top: 4.5%;
    margin-left: 4%;
    display: inline-block;
    position: absolute;
    z-index: 9;
  }
  .Column.Column-2{
    width: 14%;
    margin-left: 40.5%;
  }
  .Column.Column-3{
    width: 21%;
    margin-left: 56%;
  }
  .Column.Column-4{
    width: 17%;
    margin-left: 78.5%;
    margin-right: 4%;
  }
  
  .footer-h1{
    margin-top: 0;
    font-size: 30px;
    font-family: "Noto Serif SC", sans-serif;
    color: rgb(255, 251, 233);
  }
  
  .Column-1 p{
    font-family: "Noto Serif SC", sans-serif;
    color: rgb(255, 251, 233);
    font-size: 18px;
    text-align: justify;
    margin-right: 5%;
  }
  
  .Column-2 a{
    text-decoration: none;
    font-family: "Noto Serif SC", sans-serif;
    font-size: 18px;
    color: rgb(255, 251, 233);
    margin-top: 4%;
  }
  
  .Column-2 a:hover{
    text-shadow: 1px 1px 2px white;
  }
  
  .Column-2 p{
    margin-top: 0;
    margin-bottom: 5px;
  }
  
  .Column-3 p{
    color: rgb(255, 251, 233);
    font-family:"Noto Serif SC", sans-serif;
    font-size: 18px;
  }
  
  .Column-4{
    text-align: center;
  }
  
  .Column-4 a{
    text-decoration: none;
    font-family: "Noto Serif SC", sans-serif;
    color: white; 
    padding: 16px;
    padding-bottom: 8px;
    padding-top: 8px;
    border-radius: 100%;
  }
  